card-man/src/main/resources/schemaTest/testXSD.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://hahahahha"
           elementFormDefault="qualified">

    <xs:element name="book" type="asd"/>

    <xs:complexType name="asd">
        <xs:all>
            <xs:annotation>
                <xs:documentation>书籍</xs:documentation>
            </xs:annotation>
            <xs:element name="author" type="xs:string"/>
            <xs:element name="data" type="xs:date"/>
        </xs:all>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>

</xs:schema>